@import "../../styles/variables";



@media screen and (min-width: 320px){

    .PageAPContainer{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .PageAPImg {
        height: 200px;
        width: 200px;
        border-radius: 0 15px 0 15px;
        margin: 25px;
        object-fit: cover;
    }
    .PageAPImg2{
        height: 200px;
        width: 200px;
        border-radius: 0 15px 0 15px;
        margin: 25px;
        object-fit: cover;
    }
    .PageAPDescContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .PageAPTitle{
        font-family: "Playfair Display";
        font-weight: 500;
        font-size: 30px;
        color: white;
        display: inline;
    }
    .PageAPText{
        color: white;
        text-justify: auto;
        width: 80%;
        font-size: 14px;
        padding: 25px;
    }
    .PageAPImghidden{
        height: 200px;
        width: 200px;
        border-radius: 0 15px 0 15px;
        margin: 25px;
        object-fit: cover;
        display: none;
    }
    .PageAPCol1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .PageAPCol2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        bottom: 0;
    }

    
 }

@media screen and (min-width: 768px){

    .PageAPContainer{
        background-color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .PageAPTitle{
        display: none;
    }
    .PageAPImghidden{
        display: block;
    }
    .PageAPCol1{
        width: 50%;
    }
    .PageAPCol2{
        width: 50%;
        position: relative;
        bottom: 89px;
    }
    .PageAPImg{
        height: 250px;
        width: 250px;
    }
    .PageAPImg2{
        height: 250px;
        width: 250px;
    }
    
 }

 @media screen and (min-width: 1024px){

    .PageAPContainer{
        background-color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .PageAPTitle{
        display: none;
    }
    .PageAPImghidden{
        display: block;
    }
    .PageAPCol1{
        width: 50%;
    }
    .PageAPCol2{
        width: 50%;
        position: relative;
        bottom: 89px;
    }
    .PageAPImg{
        height: 400px;
        width: 400px;
    }
    .PageAPImg2{
        height: 250px;
        width: 350px;
    }
    
 }