@import "../../styles/variables";



@media screen and (min-width: 320px){

    .Button{
        border: solid 1px $color-primary;
        margin: 25px;
        height: 4.5rem;
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        cursor: pointer;
        transition: 0.5s;
        overflow: hidden;
    }
    .Button:hover{
        background: $color-primary;
        transform: scaleX(1);
        transform-origin: left;

    }

    
    .ButtonText{
        color: white;
    }
    
 }

@media screen and (min-width: 768px){

    
    
 }