@import "../../styles/variables";



@media screen and (min-width: 320px){

    .CardContainer1{
        height: 250px;
        width: 230px;
        border: solid 1px black;
        margin: 75px 0px;

    }
    .CardContainerImg{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .CardContainerDesc1{
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%);
        height: 150%;
        position: relative;
        bottom: 285px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0px 10px;
        cursor: pointer;
        border: none;
        width: 100%;
    }
    .CardDescspan{
        font-size: 14px;
        color: white;
        font-weight: 300;
        position: relative;
        bottom: 100px;
        display: none;
        text-align: left;
        width: 95%;
    }
    .CardContainerDesc1:focus{
        bottom: 330px;
        transition: all 0.5s ease-in
    }
    .CardContainerDesc1:focus p{
        display: none;
        transition: all .5s ease-out
    }
    .CardContainerDesc1:focus span{
        display: block;
        bottom: 80px;
        transition: all .5s ease-out
    }
    .CardContainerDesc1:focus .CardDescTags1{
        bottom: 50px;
        transition: all .7s ease-out
    }
    

    
    .CardDescTitle1{
        font-family: "Playfair Display";
        font-weight: 500;
        font-size: 30px;
        color: white;
        position: relative;
        bottom: 100px;
    }
    .CardDescText1{
        font-size: 15px;
        color: white;
        font-weight: 300;
        position: relative;
        bottom: 100px;
        text-align: left;
        width: 85%;
    }
    .CardDescTags1{
        display: flex;
        position: relative;
        bottom: 100px;
        width: 85%;
    }
    .CardLink{
        border: solid 1px $color-primary;
        margin: 25px;
        height: 2.5rem;
        width: 11.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        cursor: pointer;
        position: relative;
        bottom: 350px;
        color: white;
        
    }
    @keyframes scale-up-ver-center {
        0% {
          transform: scaleY(0);
          opacity: 0;
        }
        20% {
            transform: scaleY(0.4);
            opacity: 0;
        }
        100% {
          transform: scaleY(1);
        }
      }
      
    .CardLink:hover{

        background: $color-primary;

    }
    .CardLinkgh{
        border: solid 1px $color-primary;
        font-size: 14px;
        margin: 25px;
        height: 2.5rem;
        width: 9rem;
        display: none;
        gap: 5px;
        align-items: center;
        justify-content: center;
        background: #00000047;
        cursor: pointer;
        position: relative;
        bottom: 50px;
        color: white;
        margin-bottom: 15px;
        margin-top: -15px;
        opacity: 0;
        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;

    }
    .CardLinkgh:hover{

        background: $color-primary;

    }


    
 }

@media screen and (min-width: 768px){

    .CardContainer1{
        height: 300px;
        width: 300px;

    }
    .CardContainerDesc1{ 
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%);
        bottom: 356px;
    }
    .CardContainerDesc1:focus{
        bottom: 410px;
        transition: all 0.8s ease-in
    }
    .CardContainerDesc1:focus p{
        display: none;
        transition: all 2s ease-out
    }
    .CardContainerDesc1:focus span{
        display: block;
        bottom: 80px;
        transition: all 2s ease-out
    }
    .CardContainerDesc1:focus .CardDescTags1{
        bottom: 50px;
        transition: all 1.5s ease-out
    }
    .CardLink{
        width: 15.5rem;
        bottom: 450px;
        
        
    }
 }