@import "../component/header/header";
@import "../component/footer/footer";
@import "../component/button/button";
@import "../component/card/card";
@import "../component/tag/tag";
@import "./variables";
@import "../component/sidebar/sidebar";
@import "../component/carousel/carousel";
@import "../component/apropos/apropos";
@import "../component/portfolio/portfolio.scss";
@import "../component/card/card";
@import "../component/cardclickable/cardclick";
@import "../component/contact/constact.scss";
@import "../app/apropos/pageAPropos";
@import "../app/portfolio/pageportfolio";
@import "../component/competence/competence";
@import "../app/portfolio/pageportfolio";
@import "../component/vignette/vignette";


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100vh;
}


