@import "../../styles/variables";



@media screen and (min-width: 320px){

    .MainContainer{
        background-color: black;
        min-height: 500px;
        width: 100%;
    }
    
    .imgContainer{
        background-image: url('/bg1.avif');
        background-size: cover;
        animation: slide-right 3s ease-out .1s both;
        width: 100%;
        min-height: 500px;
        opacity: 0;
    }

    @keyframes slide-right {
        20% {
          transform: translateX(-100vw);
          opacity: 0;
        }
        50% {
          transform: translateX(0px);
          opacity: 1;
        }
        100% {
            transform: translateX(0px);
            opacity: 1;
          }
      }

      

    .carouselContainer{
        height: 500px;
        padding: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.637);
        gap: 10px;
        position: relative;
        bottom: 0px;
    }
    
    .Carouseltitle{
        
      font-family: Playfair Display;
        font-weight: 700;
        font-size: 50px;
        color: $color-primary;
        width: 100%;
        text-align: center;
        animation: slide-left 3s ease-out 1s  both;
        opacity: 0;
    }
    .Carouselsubtitle{
        font-size: 15px;
        color: white;
        width: 100%;
        text-align: center;
        animation: slide-left2 3s ease-out 1.2s both;
        opacity: 0;
        line-height: 1.5;
        margin-top: 10px;
      }

      


    @keyframes slide-left {
        20% {
          transform: translateX(50vw);
          opacity: 0;
        }
        100% {
            transform: translateX(0px);
            opacity: 0.9;
          }

          }
      
      @keyframes slide-left2 {
        20% {
          transform: translateX(50vw);
          opacity: 0;
        }
        100% {
          transform: translateX(0px);
          opacity: 0.9;
        }
      }

      .ButtonDownload{
        border: solid 1px $color-primary;
        margin: 25px;
        height: 3rem;
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.158);
        cursor: pointer;
        transition: 0.5s;
        overflow: hidden;
        color: white;
    }
    .ButtonDownload:hover{
        background: $color-primary;
        transform: scaleX(1);
        transform-origin: left;

    }
      

    .slideshow {
        margin: 0 auto;
        overflow: hidden;
        max-width: 500px;
        width: 50%;
      }
      .slideshowSlider {
        
        height: 65px;
        
        transition: ease 1000ms;
      }
    .slide {
        display: inline-block;
        height: 100px;
        width: 100%;
        border-radius: px;
        font-family: "Playfair Display";
        font-weight: 600;
        font-size: 60px;
        color: white;
      }
      .titleCtn{
        display: flex;
      flex-direction: column;
      align-items: center;
    }
 }
 

 

@media screen and (min-width: 768px){

  .MainContainer{
    min-height: 500px;
}

.imgContainer{
    min-height: 500px;
    background-size: cover;
}

    .carouselContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 500px;
    }
    .titleCtn{
        width: 100%;
    }
    
    .Carouseltitle{
        
        font-weight: 900;
        font-size: 70px;
       
        
    }
    .Carouselsubtitle{
        font-size: 15px;
        
        
      }
 }