@import "../../styles/variables";



@media screen and (min-width: 320px){
    .PortfolioBGContainer1{
        width: 100%;
        background-color: black;
    }
    .PortfolioContainer1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #000000;
        gap: 10px;
        padding: 3rem;
        height: max-content;
        margin-bottom: 60px;
    }
    .dotContainer1{
        display: flex;
        gap: 10px;
        position: relative;
        top: 84px;
    }
  
 }
 @media screen and (min-width: 768px){
    .PortfolioContainer1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #000000;
        gap: 10px;
        padding: 3rem;
        height: max-content;
        margin-bottom: 60px;
    }
    .dotContainer1{
        display: none;
    }
  
 }

 